@import "bootstrap";

.booyah-box {
  -moz-box-shadow: 1px 1px 2px 0 #d0d0d0;
  -webkit-box-shadow: 1px 1px 2px 0 #d0d0d0;
  box-shadow: 1px 1px 2px 0 #d0d0d0;
  background: #fff;
  background-color: #E2E4C9;
  border: 1px solid #ccc;
  border-color: #e4e4e4 #bebebd #bebebd #e4e4e4;
  margin-top: 10px;
  margin-bottom: 15px;
  padding: 20px;
  grid: center;
}

.heading {
  font-size: 75px;
  color: #44126F;
  text-align: center;
}

h2 {
  color: #104F86;
}

h3 {
  color: #581D3E;
}

.contact_info {
  text-align: center;
}

.add_new {
  background-color: #B6B3A4;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  display: block;
  font-size: 16px;
  border-radius: 12px;
  max-width: 200px;
  margin: auto;
}
